RewriteCond %{QUERY_STRING} !vardump
RewriteRule (.*) <a href="http://www.example.com/$1?vardump&thereq=%{THE_REQUEST}&reqhost=%{HTTP_HOST}">http://www.example.com/$1?vardump&thereq=%{THE_REQUEST}&reqhost=%{HTTP_HOST}</a> [R=301,L,QSA]