RewriteEngine on
RewriteBase /
#RewriteCond %{THE_REQUEST}
#RewriteCond %{THE_REQUEST} -s [OR]
#RewriteCond %{THE_REQUEST} -l [OR]
#RewriteCond %{THE_REQUEST} -d
#RewriteRule ^(.*)$ - [NC,L]
RewriteRule ^/(.*)$ index.php [NC,L]
