RewriteEngine on
RewriteCond %{THE_REQUEST} -s [OR]
RewriteCond %{THE_REQUEST} -l [OR]
RewriteCond %{THE_REQUEST} -d [OR]
RewriteRule ^(.*)$ - [N]
RewriteRule ^(.*)$ index.php?foo=%1 [NC,L]
RewriteCond %{THE_REQUEST} ^(.)//(.)$
RewriteCond %{THE_REQUEST} ^(.)///(.)$
RewriteRule ^(.*)$ - [N]
RewriteRule ^(.*)$ index.php?doo=%1 [NC,L]
